// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$fancy-dark-blue: #2B3467;
$fancy-light-blue: #BAD7E9;
$fancy-light-yellow: #FCFFE7;
$fancy-red: #EB455F;
$fancy-light-red: #fbe9ec;
