<div class="modal fade" id="confirmBookedItemModal" tabindex="-1" aria-labelledby="confirmBookedItemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmBookedItemModalLabel">Accept booking request</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>You are going to accept <%= @booking.user.first_name %> <%= @booking.user.last_name %>'s booking request</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= link_to 'Accept booking', accept_booking_path(@booking), data: {turbo_method: :post}, class:"btn btn-success" %>
      </div>
    </div>
  </div>
</div>
