<% if user_signed_in? %>
  <div class="row m-4">
    <h1>Please select dates to check availability</h1>
    <div class="col-6">
      <%= render 'form', item: @item, booking: @booking %>
    </div>
  </div>
<% else %>
  <div class="row m-4">
    <h1>You are not allowed to view this page.</h1>
  </div>
<% end %>
