<div class="container">

  <div class="d-flex justify-content-center mt-5">
    <%= link_to items_path, class:"btn btn-primary pt-2", style:"border-radius: 6px" do %>
      <h4>Browse all of our art pieces!</h4>
    <% end %>
  </div>

  <h4 class="text-center my-5"> Browse by category! </h4>
  <div class="cards">
    <% @categories.each do |category|%>
      <%= link_to items_path(category: category[:name].downcase), class:"text-decoration-none text-white" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= category[:url] %>)">
      <%= category[:name] %></div>
      <% end %>
    <% end %>
  </div>

</div>
