  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 text-center">

        <div class="d-flex flex-wrap justify-content-center pb-4" data-controller="categoryselector" data-action="click->categoryselector#active">

            <div class="clickable category" >
              <small style="font-size:12px;" data-categoryselector-target="categoryItem">Paintings</small>
            </div>

        </div>
      </div>
    </div>
  </div>
