
<div class="container">

  <h4 class="text-center mt-5"> <strong>Find the perfect fit for your interior!</strong></h4>

  <%= render "multi_search_bar" %>

  <%#= render "category_filters" %>

  <%= render "map" %>

  <%= render "cards_index" %>

</div>
