<div class="container mt-3">
  <h1>My Items</h1>
  <div id="create-btn" class="btn btn-primary">
    <%= link_to 'Add new item', new_item_path %>
  </div>

  <% if @my_items.any? %>
    <div class="my-items-grid">
      <% @my_items.each do |item| %>
        <div class="my-item-card mt-3">
          <div class="my-item-card-title">
            <h3><%= link_to item.title, item %></h3>
          </div>

          <div class="my-item-card-description">
            <%= item.description %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>You don't have any items yet.</p>
  <% end %>
  <%= link_to 'Back', items_path %>
</div>
