.red-button {
  background-color: $fancy-red;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #fff;
  padding: 11px 22px;
  transition: background-color 0.4s linear;
}

.red-button:hover {
  background-color: #ff6486;
  color: #fff;
}

.orange-button {
  background-color: #e2914b;
}

.orange-button:hover {
  background-color: #fcae6a;
}

.blue-button {
  background-color: $fancy-dark-blue;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #fff;
  padding: 11px 22px;
  transition: background-color 0.4s linear;
}

.blue-button:hover {
  background-color: #415685;
}
