.flex {
  display: flex;
}
.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flat-card {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.flat-card-image {
  height: 180px;
  background-position: center;
  background-size: cover;
}

.flat-card-content {
  position: relative;
  padding: 16px 24px;
  height: 200px;
  background-color: #f8f9fa;
}

.flat-card-actions {
  position: relative;
  height: 40px;
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 4px 24px;
}

.flat-card-actions p:hover {
  cursor: pointer;
}

.thick-underline {
  border-bottom: 4px solid $fancy-dark-blue;
  padding-bottom: 8px;
}

.artist-show-display {
  font-size: 18px !important;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

.card-content-opacity {
  opacity: 1 !important;
}

.blue-card-border {
  border: 1px solid $fancy-dark-blue;
  border-radius: 10px;
}

.card-height-modifier {
  min-height: 330px;
}
