.bck-blue {
  background-color: #2B3467;
}

.bck-light-blue {
  background-color: #BAD7E9;
}

.bck-bone {
  background-color: #FCFFE7;
}

.bck-red {
  background-color: #EB455F;
}

.color-blue {
  color: #2B3467;
}

.color-light-blue {
  color: #BAD7E9;
}

.color-bone {
  color: #FCFFE7;
}

.color-red {
  color: #EB455F;
}
