.bck-blue {
  background-color: #2b3467;
}

.bck-light-blue {
  background-color: #bad7e9;
}

.bck-bone {
  background-color: #fcffe7;
}

.bck-red {
  background-color: #eb455f;
}

.color-blue {
  color: #2b3467;
}

.color-light-blue {
  color: #bad7e9;
}

.color-bone {
  color: #fcffe7;
}

.color-red {
  color: #eb455f;
}

.color-pending {
  color: #ab741c;
}

.color-accepted {
  color: #359b1e;
}
.color-rejected {
  color: #b62020;
}
