.image-container {
  height: 100%;
  background-color: black;


  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
  }

}

.image-container-booking {
  height: 100%;
  background-color: transparent;


  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
  }

}


#custom-img {
  max-width: 50%;
  height: auto;
}

.content-wrapper{
  min-height: calc(100vh - 185px - 100px);
}
