a, #create-btn a {
  text-decoration: none;
  color: black;
}

#create-btn a {
  text-decoration: none;
  color: white;
}

a:hover, #create-btn a:hover {
  color: grey;
}

#create-btn {
  text-align: center;
  margin-bottom: 16px;
}

.my-items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px; /* Espacement entre les cartes */
}

.my-item-card {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
  min-height: 150px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.my-item-card-title {
  text-align: center;
  padding: 16px;
}

.my-item-card-description {
  padding-bottom: 8px;
}
