a, #create-btn a {
  text-decoration: none;
  color: white;
}

#create-btn a {
  text-decoration: none;
  color: white;
}


#create-btn {
  text-align: center;
  margin-bottom: 16px;
}

.my-items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}

.my-item-card {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
  // min-height: 150px;
  height: 200px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  // filter: blur(2px);
  z-index: 1;
  overflow: hidden;
}


.my-item-card-title {
  text-align: center;
  padding: 16px;
  text-shadow: 2px 2px 4px black;
  // z-index: 200;
}

// .my-item-card-description {
//   padding-bottom: 8px;
//   text-align: center;
//   text-shadow: 2px 2px 4px black;
//   // z-index: 4;
// }

a:hover, #create-btn a:hover {
  color: white;

}

.my-item-card:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
  transition: 0.25s ease-out;
}

.content {
filter: none;
}
